<% title "All Messages" %>

<div id="messages">

<% if ! @messages.empty? %>
  
    <h4 class="new-messages">Messages <span class="badge"><%= @messages.count %></span></h4>
  
    <div class="btn-group message-actions pull-right">
      <%= link_to raw('<i class="icon-eye-close"></i> View unread'), account_url, :title => "View unread messages", :class => "btn btn-mini" %>
      <%= link_to raw('<i class="icon-trash"></i> Delete all'), message_delete_all_url, :title => "Delete all messages", :class => "btn btn-mini delete-all" %>
    </div>

    <% @messages.each do |message| %>
      <%= render :partial => 'shared/message', :locals => {:message => message} %>
    <% end %>

  <% else %>
    <div class="center-this">
      <h3>No messages...</h3>
      <p>Find out <%= link_to raw("how to start using <strong>Chloroform</strong>"), example_url %></p>
    </div>
  <% end %>

</div>