<% title "Account" %>

<% if !current_user.verified %>
<div class="alert alert-error alert-block">
  <h4>Verify your email</h4>
  <P></P>
  <p><strong>Go check your inbox.</strong> Before you can receive emails from <strong>Chloroform</strong> you need to verify your email address. Although you can still receive submissions they can only be viewed here. They will only be emailed to your inbox when your email has been verified.</p>
  <%= link_to "Request a new verification email", reset_verification_url, :class => "btn btn-small btn-new-verification"  %>
</div>
<% end %>

<div class="alert alert-success alert-block">
  <h4>Your API key</h4>
  <p></p>
  <p>Ensure sure your form goes to <code>http://chloroform.codebiff.com/api/submit?api_key=<%= current_user.api_key -%></code></p>
  <p>To get started see the <strong><%= link_to "example form", example_url %></strong></p>
</div>

<div id="messages">
  
  <% if ! @unread_messages.empty? %>
  
    <h4 class="new-messages">Unread Messages <span class="badge badge-info"><%= @unread_messages.count %></span></h4>
  
    <div class="btn-group message-actions pull-right">
      <%= link_to raw('<i class="icon-th"></i> View all'), messages_url, :title => "View all messages", :class => "btn btn-mini" %>
      <%= link_to raw('<i class="icon-eye-open"></i> Mark all as read'), message_toggle_all_read_url, :title => "Mark all messages as read", :class => "btn btn-mini" %>
    </div>

    <% @unread_messages.each do |message| %>
      <%= render :partial => 'shared/message', :locals => {:message => message} %>        
    <% end %>

  <% else %>
    <div class="center-this">
      <h3>No new messages...</h3>
      <%= link_to "View all messages", messages_url %> or find out <%= link_to raw("how to start using <strong>Chloroform</strong>"), example_url %>
    </div>
  <% end %>
  
</div>

