<% title "Account" %>

<% if !current_user.verified %>
<div class="alert alert-error alert-block">
  <h4>Verify your email</h4>
  <p>Before you can receive emails from <strong>Chloroform</strong> you need to verify your email. Although you can still receive submissions they can only be viewed here. They will only be emailed to your inbox when your email has been verified.</p>
  <%= link_to "Request a new verification email", reset_verification_url, :class => "btn btn-small btn-new-verification"  %>
</div>
<% end %>

<div class="alert alert-success alert-block">
  <h4>Your API key</h4>
  <p>To use <strong>Chloroform</strong> blah blah lorem <code>http://chloroform.codebiff.com/api/submit?api_key=<%= current_user.api_key -%></code> and Lorem ipsum dolor sit amet corporis quas.</p>
</div>

<div id="messages">
  
  <% if ! @unread_messages.empty? %>
  
    <h4 class="new-messages">New Messages <span class="badge badge-info"><%= @unread_messages.count %></span></h4>
  
    <div class="btn-group message-actions pull-right">
      <%= link_to raw('<i class="icon-eye-open"></i> Mark all as read'), message_toggle_all_read_url, :title => "Mark all messages as read", :class => "btn btn-mini" %>
    </div>

    <% @unread_messages.each do |message| %>
    
    <table class="table table-bordered message">
     <thead>
        <tr class="table-info messsage-unread">
          <td colspan="2">
            Received: <%= message.created_at.strftime(current_user.config.date_format) %> at <%= message.created_at.strftime(current_user.config.time_format) %>
            <%= link_to raw('<i class="icon-trash"></i>'), message_delete_url(:id => message.id.to_s), :title => "Delete this message", :class => "btn btn-mini pull-right" %>
            <%= link_to raw('<i class="icon-eye-open"></i>'), message_toggle_read_url(:id => message.id.to_s), :title => "Mark this message as read", :class => "btn btn-mini pull-right" %>
          </td>
        </tr>
      </thead>
      <tbody>
      
      <% JSON.parse(message.data).each do |k,v| %>
          
          <tr>
            <td class="field" width="25%"><%= k -%></td>
            <td><%= v -%></td>
          </tr>
        
      <% end %>
      
      </tbody>
    </table>
        
    <% end %>

  <% else %>
    <p>No new messages...</p>
  <% end %>
  
</div>

