<% title "Settings" %>

<%= form_tag save_settings_url, {:class => "form"} do %>

<div class="well">
  <h4>Confirmation URL</h4>
  <p>Enter here the URL to redirect to once a form has been submitted. If blank it will redirect to the original page the form was submitted from.</p>

  <%= text_field_tag 'confirm_url', @settings.confirm_url, :class => "input-xxlarge", :placeholder => "http://example.com/thankyou.html" %>
  
  <p>This is can be overridden by including <code>confirm_url=http://example.com/thankyou.html</code> in the API path</p>
</div>

<div class="well">
  <h4>Date Format</h4>
  <p>Select the format you wish time and dates to be displayed on the received forms.</p>
  <%= select_tag "date_format", options_for_select({"dd/mm/yyyy" => "%d/%m/%Y", "mm/dd/yyyy" => "%m/%d/%Y", "01 January, 2013" => "%d %B, %Y"}, @settings.date_format) %>
  <%= select_tag "time_format", options_for_select({"12 Hour" => "%l:%M %P", "24 Hour" => "%H:%M"}, @settings.time_format) %>
</div>

<div class="well">
  <h4>Reset API key</h4>
  <p>Reset API key Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim magnam natus illo culpa ea! Earum ipsa natus explicabo repellendus exercitationem pariatur voluptas blanditiis harum dicta similique excepturi unde accusamus minus.</p>
  <%= link_to "Reset API Key", "#", :class => "btn btn-warning" %>

</div>

<%= submit_tag "Save Changes", :class => "btn btn-primary btn-save pull-right" %>
<%= link_to "Cancel", account_path, :class => "btn btn-danger btn-cancel pull-right" %>
  
<% end -%>


